:root {}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-weight: 400;
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

main {
    padding: 5rem;
    /* height: 100vh; */
    border: 1px solid red;
    min-width: 32rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 90vh; */
}

.game_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game_console {
    border: 1px solid black;
    height: 30rem;
    width: 25rem;
    position: relative;
}

.cut {
    position: absolute;
    left: 3%;
    top: 2.5%;
    height: .8rem;
    width: .8rem;
    transform: translate(-100%, -100%);
    border: 1px solid black;
}

.directions {
    border: 1px solid red;
    height: 13rem;
    width: 25rem;
    margin-top: 3rem;
    position: relative;
}

button {
    width: 8rem;
    padding: 1rem;
    text-transform: uppercase;
}

.btn_down,
.btn_left,
.btn_right,
.btn_up {
    position: absolute;
}

.btn_up {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.btn_down {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.btn_left {
    top: 50%;
    transform: translateY(-50%);
}

.btn_right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}